<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ml.mldj.order.mapper.OrderInfoMapper">


    <update id="updateOrderDriver">
        update order set driver_id=#{driverId}, accept_time=NOW()
        where order_id=#{orderId};
    </update>
    <select id="queryOrderById" resultType="org.ml.mldj.model.order.entity.Order">
        select * from order where order_id=#{orderId}
    </select>
    <select id="page" resultType="org.ml.mldj.model.order.vo.OrderVO">
        select *
        from order
        where 1=1
        <if test="orderId!=null">
            and id=#{orderId}
        </if>
        <if test="customerId!=null">
            and customer_id=#{customerId}
        </if>
        <if test="startDate!=null and endDate!=null">
            AND date BETWEEN #{startDate} AND #{endDate}
        </if>
        <if test="status!=null">
            AND `status` = #{status}
        </if>
    </select>
</mapper>
