<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ml.mldj.system.mapper.UploadChunkMapper">

    <update id="chunkUploadSuccess">
        update upload_chunk t
        set t.status = 1
        where t.file_md5 = #{objectKey}
          and t.chunkNum = #{chunkNum};
    </update>
    <select id="listByFileMd5" resultType="org.ml.mldj.model.entity.UploadChunk">
        select *
        from upload_chunk t where t.file_md5=#{fileMd5};
    </select>
</mapper>
