<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ml.mldj.driver.mapper.DriverInfoMapper">


    <select id="queryDriverPage" resultType="org.ml.mldj.model.driver.vo.DriverVO">

        select
        *
        from tb_driver
        where 1 = 1
        <if test="name!=null">
            and name=#{name}
        </if>
        <if test="tel!=null">
            and tel=#{tel}
        </if>
        <if test="pid!=null">
            and pid=#{pid}
        </if>
        <if test="sex!=null">
            and sex=#{sex}
        </if>
        <if test="realAuth!=null">
            and realAuth=#{realAuth}
        </if>
        <if test="status!=null">
            and status=#{status}
        </if>
    </select>
</mapper>
